* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.calculators {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.calculator,
.room-calculator,
.unit-converter {
  flex: 1;
  margin: 20px;
}